<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css" />
  
  <title>Vite + React + TS</title>
</head>
<body>
  <div id="root"></div>
  <script type="module" src="/src/main.js"></script>

  <form id="habit-form">
    <input type="text" id="habit-name" placeholder="Habit name" required />
    <input type="number" id="habit-frequency" placeholder="Target frequency" required />
    <button type="submit">Add Habit</button>
  </form>
  <div id="habit-list"></div>



</body>
</html>
